[run]
source = src/chronicler
omit = tests/*, */__init__.py, src/chronicler/transports/*, src/chronicler/storage/*, src/chronicler/pipeline/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise AssertionError
    raise NotImplementedError

[html]
directory = coverage_html 